// COLORS
$white: #fff;
$black: #000;
$primary: #39cdcc;
$secondary: #213f7d;

$text-primary: #213f7d;
$text-secondary: #545f7d;

$bg-main: #f5f5f7;

$success: #39cd62;
$warning: #e9b200;
$danger: #e4033b;

//FONTS
$system-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$font-work-sans: "Work Sans", $system-font-stack;
$font-inter: "Inter", $system-font-stack;

//TYPOGRAPHY
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;

$spacing-xs: 4px;
$spacing-sm: 10px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

$radius-sm: 5px;
$radius-md: 8px;
$radius-lg: 12px;

$sidebar-width: 280px;
