@use "@/styles/core/variables" as v;

.header {
  height: 100px;
  background-color: v.$white;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  padding: 0 60px 0 24px;
  display: grid;
  grid-template-columns: v.$sidebar-width 1fr auto;
  align-items: center;
  gap: v.$spacing-lg;
  z-index: 100;
  position: relative;

  &__menu {
    display: none;
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
  }

  &__logo {
    height: 30px;
  }

  &__search {
    display: flex;
    align-items: center;
    max-width: 400px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(v.$text-secondary, 0.2);
    border-radius: v.$radius-md;
    overflow: hidden;
    background-color: v.$white;

    input {
      flex: 1;
      height: 100%;
      border: none;
      outline: none;
      padding: 0 v.$spacing-md;
      font-size: v.$font-size-sm;
      color: v.$text-primary;
      font-family: inherit;

      &::placeholder {
        color: rgba(v.$text-secondary, 0.6);
      }
    }

    &-btn {
      width: 48px;
      height: 100%;
      border: none;
      background-color: v.$primary;
      color: v.$white;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 18px;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: v.$spacing-lg;
  }

  &__docs {
    font-size: v.$font-size-md;
    color: v.$secondary;
    text-decoration: underline;
    margin-right: v.$spacing-md;
  }

  &__notification {
    cursor: pointer;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: v.$spacing-sm;
    cursor: pointer;
  }

  &__avatar {
    width: 48px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    overflow: hidden;
    user-select: none;
    border-radius: 100%;
    background: v.$bg-main;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
    }
  }

  &__name {
    font-size: v.$font-size-md;
    font-weight: 500;
    color: v.$text-primary;
  }

  //   &__chevron {
  //     font-size: 12px;
  //     color: v.$text-secondary;
  //   }
}

@media (max-width: 1024px) {
  .header {
    grid-template-columns: auto 1fr auto;
    gap: v.$spacing-md;
    padding: v.$spacing-lg;

    &__menu {
      display: block;
    }
    &__search {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: v.$spacing-md;

    &__logo {
      margin-top: 10px;
    }

    &__docs {
      display: none;
    }

    &__right {
      gap: v.$spacing-md;
    }

    &__avatar {
      width: 40px;
      height: 40px;
    }
  }
}
@media (max-width: 500px) {
  .header {
    padding: v.$spacing-md;

    &__logo {
      height: 20px;
    }

    &__name {
      display: none;
    }
  }
}
