@use "@/styles/core/variables" as v;

.user-summary {
  display: flex;
  align-items: center;
  gap: v.$spacing-xl;
  background: v.$white;
  padding: v.$spacing-lg;
  border-radius: v.$radius-sm;
  flex-wrap: wrap;
  // box-shadow: 3px 5px 20px rgba(v.$black, 0.04);

  &__profile {
    display: flex;
    align-items: center;
    gap: v.$spacing-md;

    h2 {
      margin: 0;
      font-size: v.$font-size-xl;
      color: v.$text-primary;
      font-weight: 500;
    }

    span {
      font-size: v.$font-size-sm;
      color: v.$text-secondary;
    }
  }

  &__avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: v.$bg-main;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
  }

  &__tier {
    border-left: 1px solid rgba(v.$text-secondary, 0.2);
    padding-left: 30px;

    span {
      display: block;
      font-size: v.$font-size-sm;
      color: v.$text-secondary;
      margin-bottom: 8px;
    }
  }

  &__balance {
    border-left: 1px solid rgba(v.$text-secondary, 0.2);
    padding-left: 30px;

    h3 {
      margin: 5px;
      font-size: v.$font-size-xl;
      color: v.$text-primary;
    }

    span {
      font-size: v.$font-size-xs;
      color: v.$text-primary;
    }
  }
}

.user-tabs {
  background: v.$white;
  margin-top: -5px;

  .empty-cont {
    width: 100%;
    height: 30px;
    background: v.$bg-main;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: v.$spacing-lg;
    padding: 2rem v.$spacing-lg 0;
    // border-bottom: 1px solid rgba(v.$text-secondary, 0.15);
    overflow-x: auto;
  }

  &__trigger {
    background: none;
    border: none;
    padding: v.$spacing-sm 0;
    color: v.$text-secondary;
    cursor: pointer;
    white-space: nowrap;
    position: relative;

    &[data-state="active"] {
      color: v.$primary;

      &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 2px;
        background: v.$primary;
      }
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  &__content {
    padding: v.$spacing-xl;
    min-height: 200px;
    box-shadow: 3px 5px 20px rgba(v.$black, 0.04);
  }
}

@media (max-width: 1024px) {
  .user-summary {
    gap: v.$spacing-lg;

    &__tier,
    &__balance {
      border-left: none;
      padding-left: 0;
    }
  }
}

@media (max-width: 640px) {
  .user-tabs__content {
    padding: v.$spacing-md;
  }
}
