@use "@/styles/core/variables" as v;

.users-stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: v.$spacing-lg;

  &__card {
    background: v.$white;
    border-radius: v.$radius-md;
    padding: v.$spacing-lg;
    box-shadow: 3px 5px 20px rgba(v.$black, 0.04);
  }

  &__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: v.$spacing-md;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 20px;
      height: 20px;
    }
  }

  &__label {
    display: block;
    font-size: v.$font-size-sm;
    color: v.$text-secondary;
    margin: 14px 0 12px;
    text-transform: uppercase;
    font-weight: 500;
  }

  &__value {
    font-size: v.$font-size-xl;
    font-weight: 600;
    color: v.$text-primary;
  }
}

@media (max-width: 1024px) {
  .users-stats {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .users-stats {
    grid-template-columns: 1fr;
  }
}
