// users-filter.scss
@use "@/styles/core/variables" as v;

.users-filter {
  width: 270px;
  background: v.$white;
  border-radius: v.$radius-sm;
  padding: 20px 24px;
  box-shadow: 3px 5px 20px rgba(v.$black, 0.08);

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    label {
      font-size: v.$font-size-sm;
      color: v.$text-secondary;
      font-weight: 500;
      margin-bottom: 6px;
    }

    input,
    select {
      width: 100%;
      height: 40px;
      border-radius: v.$radius-sm;
      border: 1px solid rgba(v.$text-secondary, 0.2);
      padding: 0 v.$spacing-sm;
      font-family: v.$font-work-sans;

      &::placeholder {
        color: rgba(v.$text-secondary, 0.7);
      }
    }

    input[type="date"] {
      &::-webkit-calendar-picker-indicator {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  .filter-field {
    position: relative;

    input,
    select {
      width: 100%;
      padding-right: 40px;

      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }

    &__icon {
      position: absolute;
      right: 24px;
      top: 50%;
      transform: translateY(-50%);
      // pointer-events: none;
      opacity: 0.9;

      svg {
        fill: yellow !important;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    margin-top: v.$spacing-sm;
    gap: 14px;

    button {
      width: 100%;
      height: 40px;
      border: 1px solid v.$text-secondary;
      border-radius: v.$radius-md;

      &.btn--primary {
        background: v.$primary;
        color: v.$white;
        border: none;
      }
    }
  }
}
