@use "@/styles/core/variables" as v;

.users {
  font-family: v.$font-work-sans;
  background-color: v.$bg-main;
  min-height: 100%;

  &__title {
    font-size: v.$font-size-xl;
    font-weight: 500;
    color: v.$text-primary;
  }

  &__stats {
    margin: 40px 0;
  }

  .view-more {
    margin-top: 20px;
    text-align: right;

    a {
      text-decoration: none;
      color: v.$text-primary;
    }
  }

  //   &__table {
  //     background: v.$white;
  //     border-radius: v.$radius-md;
  //     box-shadow: 0 2px 20px rgba(0, 0, 0, 0.04);
  //   }

  //   &__pagination {
  //     margin-top: 20px;
  //     display: flex;
  //     justify-content: flex-end;
  //   }
}
