@use "@/styles/core/variables" as v;

.user-details {
  padding: v.$spacing-xl;

  &__back {
    display: inline-block;
    margin-bottom: 32px;
    color: v.$text-secondary;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: v.$spacing-lg;

    h1 {
      font-size: v.$font-size-xl;
      color: v.$text-primary;
      font-weight: 500;
    }
  }

  &__actions {
    display: flex;
    gap: 20px;

    .btn {
      border-radius: v.$radius-md;
      border: 1px solid v.$primary;
      text-transform: uppercase;
      padding: 12px 16px;

      &:hover {
        opacity: 0.5;
      }

      &--danger {
        border: 1px solid v.$danger;
      }
    }
  }
}

@media (max-width: 640px) {
  .user-details {
    padding: v.$spacing-md;

    &__header {
      flex-direction: column;
      align-items: flex-start;
      gap: v.$spacing-md;
    }
  }
}
