@use "@/styles/core/variables" as v;

.dashboard-layout {
  min-height: 100vh;
  background-color: v.$bg-main;
}

.dashboard-body {
  display: flex;
  height: calc(100vh - 100px);
  overflow-y: auto;
}

.dashboard-content {
  flex: 1;
  padding: 60px;
  overflow-y: auto;
}

@media (max-width: 1024px) {
  .dashboard-content {
    padding: v.$spacing-lg;
  }
}

@media (max-width: 768px) {
  .dashboard-body {
    flex-direction: column;
  }

  .dashboard-content {
    padding: v.$spacing-md;
  }
}
